div
  div(v-if="has_to_login")
    p {{$t('log_in.user')}}:
      input(v-model="user")
    p {{$t('log_in.password')}}:
      input(v-model="password", type="password")

    button(type="button", v-on:click="login") {{$t('log_in.log_in')}}

  div(v-if="has_to_logout")
    button(type="button", v-on:click="logout") {{$t('log_in.log_out')}}
