div
  h4 Lista de posts

  table
    tr
      th(v-on:click="orderByTitle") Título
      th(v-on:click="orderByDate") Fecha de creación
      th(v-on:click="orderByAuthor") Autor
      th Contenido
    tr(v-for="post in posts")
      td {{post.title}}
      td {{post.creation}}
      td {{post.author}}
      td {{post.content}}
