form#login_form(@submit.prevent = "login")
  p {{$t('log_in.user')}}:
    input#User(v-model="user")
  p {{$t('log_in.password')}}:
    input#Password(v-model="password", type="password")

  ns-field(:error="error")
    input(type="submit", v-on:click="login", :value="$t('log_in.log_in')")
