#layout_default
  div(v-if="session")
    p {{user_name()}}
    a(href="#/")
      ns-button(type="primary" size="sm" @click="logout" id="log out") {{$t('log_in.log_out')}}
  div(v-else="session")
    a#login(href="#/login")
      ns-button(type="primary" size="sm") {{$t('log_in.log_in')}}
  router-view
