#layout_default
  div(v-if="session")
    p {{user_name()}}
    a(href="#/")
      button(v-on:click="logout") {{$t('log_in.log_out')}}
  div(v-else="session")
    a(href="#/login")
      button(type="button") {{$t('log_in.log_in')}}
  router-view
