div
  div(v-bind:class="{ error: wrongTitle }")
    p {{$t('post_form.title')}}:
      input(v-model="title")
  div(v-bind:class="{ error: wrongContent }")
    p {{$t('post_form.content')}}:
      textarea(v-model="content")
    p {{$t('post_form.image')}}:
      input(type="file", @change="processFile($event)")
  div(v-if="wrongTitle")
    p(v-for="error in titleErrors") {{$t('post_form.title')}}: {{error}}
  div(v-if="wrongContent")
    p(v-for="error in contentErrors") {{$t('post_form.content')}}: {{error}}
