div
  h4 Listado de tus posts
  table
    tr
      th(v-on:click="orderByTitle") Título
      th(v-on:click="orderByDate") Fecha de creación
      th
      th
    tr(v-for="post in posts")
      td
        a(v-bind:href = "'#/post/' + post.id") {{post.title}}
      td {{post.creation}}
      td editar
      td eliminar
