div
  h1 {{$t('home.title')}}

  img(src=require('assets/images/logo.png'))

  postslist-component

  a(href="#/posts")
    button(type="button") {{$t('home.my_posts')}}
  a(href="#/example")
    button(type="button" id="example page") {{$t('home.example_page')}}
