div
  
  login-component

  h1 Home

  img(src=require('assets/images/logo.png'))

  postslist-component

  a(href="#/posts")
    button(type="button") yooo
  a(href="#/page")
    button(type="button") hey
